@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Italic.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-BoldItalic.ttf");
    font-weight: 600;
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: 700;
}
body{
    max-width: 100%;
}
html {
    font-family: 'Lato';
}

*{
    margin: 0;
}

/* Первый блок */
header{
    background-color:  #222;
    display: flex;
    justify-content:space-around;
    min-height: 75px;
    max-width: 100%;
}

.logo_search{
    display: flex;
    gap: 41px;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.logo{
    max-width: 44px;
    max-height: 38px;
}

.search{
    max-width: 26.002px;
    max-height: 26.792px;
}


.menu_buttons{
    display: flex;
    gap: 33px;
    align-items: center;
    justify-content: center;

    max-width: 20vw;

}
.cart_buy{
    position: relative;
}
.cart_buy::after{
    content: '5';
    width: 19px;
    height: 19px;
    position: absolute;
    right: -10px;
    top: -6px;
    background-color: #F16D7F;
    color: #FFF;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
}

.cart_buy:hover::after{
    display: flex;
}

.main_menu{
    position: relative;
}

.main_menu_submenu{
    display: none;
    width: 232px;
    height: 634px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px solid white;
    color: black;
    background-color: #FFF;
    position: absolute;
    top: 193%;
    left: 0%;
    gap: 11px;

    >p{
        color: #000;
        font-size: 14px;
        font-weight: 700;
        margin-top: 32px;
        margin-left: 32px;
    }
    >h3{
        color: #F16D7F;
        font-size: 14px;
        font-weight: 400;
        margin-left: 32px;
        margin-top: 20px;

    }

    > ul{
        list-style-type: none;
        >li{
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
            list-style-type: none;
            margin-left: 15px;
            margin-top: 12px;
        }

    }
}

.main_menu:hover .main_menu_submenu{
    display: block;
}





/* Второй блок */
.image_header{
    background-color: #F1E4E6;
    max-width: 100%;
}
.second_block{
    display: flex;

    align-items: center;
    justify-content: center;
}
.first_img
{
    width: 800.58px;
    height: 764px;
}

.image_header_text{
    display: flex;
    gap: 20px;
    align-items: center;
}

.rectungle_img{
    width: 12px;
    height: 92px;
}

.image_header_text_brand{
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.image_header_text_second{
    display: flex;
    gap: 10px;
}

.image_header_text_luxerous{
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.image_header_text_fashion{
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

/* Третий блок */
.theard_block{
    
    padding-top: 65px;


}
.theard_subblock{
    display: grid;
    max-width: 1140px; 
    margin: 0 auto;
    gap: 30px;

}

.theard_block_items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    /* min-height: 180px; */
    
}

.theard_bloc_h3{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.theard_bloc_h2{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.theard_block_item{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    object-fit: fill;
    position: relative;

}


.theard_block_image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.theard_block_text{ 
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
}
/* .theard_block_item1{
    background-image: url('../images/3_block_image1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.theard_block_item2{
    background-image: url('../images/3_block_image2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.theard_block_item3{
    background-image: url('../images/3_block_image3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
} */

.theard_block_item4{
    display: flex;
    flex-direction: column;
    /* background-image: url('../images/3_block_image4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 180px; */
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    
}


.fourth_preblock{
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.fourth_preblock_h2{
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}
.fourth_preblock_h4{
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
/* Четвертый блок */

.fourth_block{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 100%;

}

.fourth_block_item_text{
    display: flex;
    flex-direction: column;
    max-width: 315px;
    gap: 16px;
    padding-top: 24px;
}

.fourth_block_h4{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}
.fourth_block_h4_text{
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}
.fourth_block_h4_price{
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.image_cart{
    position: relative;
}

.image_cart::after{
    content: '';
    background-color: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.image_cart:hover::after{
    display: block;
}
.image_cart_button{
    display: none;
    width: 139px;
    height: 44px;   
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px solid white;
    color: white;
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image_cart:hover .image_cart_button{
    display: flex;

}

.cart_p{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.button{
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    
}



.my_button{
    min-height: 48px;
    min-width: 212px;
    border-color: #FF6A6A;
    background-color: #FFF;
    border-style: solid;
}

.button_text{
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.my_button:hover{
    background-color: #FF6A6A;
}
.my_button:hover .button_text{
    color: #FFF;
}

/* Пятый блок */
.five{
    background-color:  #222;
    height: 341px;
}


.five_subblock{
    display: flex;
    max-width: 1140px; 
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.five_item{
    width: 360px;
    text-align: center;

}

.five_h3{
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    margin-top: 19px;
    margin-bottom: 16px;
}

.five_h4{
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
}

/* Шестой блок */
.six{
    height: 448px;
    background-image: url('../images/6_block_image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.six_subblock{
    display: flex;
    max-width: 1140px; 
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.six_item{
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.six_h3{
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.six_first_h4{
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    display: inline;
}
.six_second_h4{
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    display: inline;
}
.six_h4{
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 39px;
}

.six_item2{
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: center;
    align-items: center;
}

.six_input{
    width: 248px;
    height: 49px;
    background-color: #E1E1E1;
    border-radius: 20px 0px 0px 20px;
    border: none;
    padding-left: 22px;

}

.six_form{
    display: flex;
    gap: 0px;
}

.six_button{
    width: 81.419px;
    height: 49px;
    background-color: #F16D7F;
    border-radius: 0px 20px 20px 0px;
    border: none;
}
.six_button_p{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}



/* Подвал */
.footer{
    background-color:  #222;
    height: 79px;
}

.footer_subblock{
    display: flex;
    max-width: 1140px; 
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.footer_h4{
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.footer_buttons{
    display: flex;
    gap: 7px;
}
.footer_button{
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
}
.footer_button:hover{
    background-color: #FF6A6A;    
    border-color: #FF6A6A;
}



@media screen and (max-width: 1439px) {

    header{
        justify-content: space-between;
        padding-right: 18px;
        padding-left: 18px;
    }

    .main_menu_submenu{
        top: 193%;
        left: -200%;
        z-index: 1;
    }

    /* Второй блок */
    .second_block{
        margin-right: 33px;
    }

    .image_header_text{
        max-width: 300px;
    }

    .first_img{
        max-width: 386px;
        max-height: 368px;
    }

    .rectungle_img{
        width: 12px;
        height: 92px;
    }

    .image_header_text_brand{
        font-size: 44px;
    }
    .image_header_text_luxerous{
        font-size: 24px;
        white-space: nowrap;
    }
    .image_header_text_fashion{
        font-size: 24px;
        white-space: nowrap;
    }


    /* Третий блок */
    .theard_subblock{
        margin-right: 17px;
        margin-left: 17px;

        gap: 10px;
        
    }

    
    /* .theard_block_item{

        
        min-height: 167px;
        
    } */

    /* .theard_block_item4{
        min-height: 116px;
        margin-top: 30px;
      

    } */
    .theard_bloc_h3{
        font-size: 16px;
    }
    .theard_bloc_h2{
        font-size: 24px;
    }
    /* .theard_block_item{
        min-width: 250px;
        min-height: 150px;
    } */

 


    /* Четвертый блок */
    .fourth_block{
        grid-template-columns: repeat(2, auto);
        padding-left: 10px;
        padding-right: 10px;
    
    }


    /* Пятый блок */

    .five{
        height: 610px;
    }

    .five_subblock{
        flex-direction: column;
    }

    /* Шестой блок */
    .six_subblock{
        flex-direction: column;
        justify-content: center;
    }

    .footer_subblock{
        justify-content: space-around;
    }

}

@media screen and (max-width: 767px)and (min-width: 375px) {
   
    .main_menu_submenu{
        top: 193%;
        left: -500%;
        z-index: 1;
    }

    .menu_buttons_profile{
        display: none;
    }
    .menu_buttons_cart{
        display: none;
    }
    .first_img{
        display: none;
    }

    .image_header{
        display: flex;
        height: 363px;
        justify-content: center;
    }

  

    
    .rectungle_img{
        width: 12px;
        height: 61px;
    }
    
    .image_header_text_brand{
        font-size: 38px;
    }
    
    
    .image_header_text_luxerous{
        font-size: 20px;
    }
    
    .image_header_text_fashion{
        font-size: 20px;
    }

    .theard_subblock{
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .theard_block_item4{

        grid-column: span 1;
        
    }
    .theard_block_image4{
        object-fit: cover;
    }

    /* .theard_block_item{
        min-height: 247px;
        min-width: 343px;
    } */

    .theard_block_item4{
        min-height: 111px;
        margin-top: 0px;
 
        width: 100%;
        height: 100%;
      

    }


    .fourth_block{
        grid-template-columns: repeat(1, auto);
        padding-left: 10px;
        padding-right: 10px;
    
    }

    .footer{
        height: 143px;

    }
    .footer_subblock{
        flex-direction: column-reverse;
        justify-content: end;
        
    }
    .footer_h4{
        margin-bottom: 9px;
    }
}